<ion-content [fullscreen]="true">
    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button tab="categories">
                <ion-icon name="book-outline"></ion-icon>
                <ion-label>دسته بندی ها</ion-label>
            </ion-tab-button>

            <ion-tab-button tab="latest-news">
                <ion-icon name="chatbubble-outline"></ion-icon>
                <ion-label>آخرین اخبار</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>
